<!-- Subscription form include -->
<!-- Replace the form `action` with your Mailchimp form POST URL (or another provider's endpoint). -->
<section class="subscribe-section">
  <h3>Subscribe to new posts</h3>
  

  <form class="subscribe-form validate" action="https://priyankasinh.us10.list-manage.com/subscribe/post?u=e6b7980da0155ddbb9f1afda1&amp;id=ec20366707&amp;f_id=00008ae3f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <label for="mce-EMAIL" class="sr-only">Email address</label>
    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="you@example.com" required="" value="">
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
      <input type="text" name="b_e6b7980da0155ddbb9f1afda1_ec20366707" tabindex="-1" value="">
    </div>
    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">Subscribe</button>
  </form>

  <p class="subscribe-hint">Tip: Use Mailchimp (or similar) and enable an RSS-to-email campaign pointing to <code>/feed.xml</code> so subscribers get an email for each new post.</p>
</section>
