<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <title>Blogs| Priyanka's Website</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
<div class="wrapper">
  <nav class="top-right-menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blogs/">Blogs</a></li>
      <li><a href="/tech/">Tech</a></li>
      <li><a href="/bookshelf/">Bookshelf</a></li>
      <li><a href="/quotes/">Quotes</a></li>
      <li><a href="https://topmate.io/psingh">Contact</a></li>
    </ul>
  </nav>

  <header>

  </header>

  <section style="font-size: 20px;">
    <style>
      table {
        font-size: 20px;
      }
    </style>

    {{ content }}

    <br>
  </section>

  <footer>

  </footer>
</div>

</body>

</html>